.father{
    width: 200px;
    height: 200px;
    background-color: coral;
    position: relative;
}
.son {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    position: absolute;
    top:50px;
    left: 50px;
}